body {
    background-image: url("/static/css/images/veg_3.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  .title{
    margin: 70px auto;
    font-family: georgia;
    font-weight: 900;
    text-align: center;
    font-size: 70px;
  }
    
  .body {
    margin: 30px auto;
    text-align: center;
    background-color: #fcfaf6;
    width: 90%;
    padding: 20px 10px;
    opacity: 0.88;
    border-radius: 25px;
    align-items: center;
  }

  .blackbody {
    margin: 30px auto;
    text-align: center;
    background-color: #DCDCDC;
    width: 90%;
    padding: 20px 10px;
    opacity: 0.88;
    border-radius: 25px;
  }

  .titleround {
    margin: 30px auto;
    text-align: center;
    background-color: #fcfaf6;
    width: 90%;
    padding: 20px 10px;
    opacity: 0.7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  h1 { 
    font-family: arial;
    color: black;
    display: block;
    font-size: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

  h2 {
    color: black;
    font-family: arial;
    display: block;
    font-size: 0.5px;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    font-style: italic;
  }
   
  h3 {
    font-family: arial;
    color: black;
    font-size: 2px;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
  }

  h4 {
    font-family: arial;
    color: black;
    font-size: 1px;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;

  }

  h5 {
    font-family: arial;
    color: #282828;
    font-size: 1px;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-style: italic;

  }

  .text{
    font-family: arial;
    margin: 50px auto;
    width:90%;
    text-align: center;
    font-size: medium;
    color: black;
  }

  .boldtext{
    font-family: arial;
    margin: 50px auto;
    width:90%;
    text-align: center;
    font-size: large;
    color: black;
    font-style: bold;
  }

  .imgtext{
    font-family: arial;
    margin: 50px auto;
    width:90%;
    text-align: right;
    font-size: large;
    color: black;
    font-style: bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

form label {
  font-family: arial;
  color: black;
  font-size: x-large;
  display: block;
  padding: 10px 0;
}
 
form input#ing_1, form input#ing_2, form input#ing_2 {
  height: 50px;
  width: 400px;
  background-color: #DCDCDC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #DCDCDC;
  padding: 5px;
  font-size: 32px;
  font-family: arial;
  margin: 12px;
}
 
form textarea#message {
  width: 500px;
  height: 100px;
  background-color: #fcfaf6;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#submit {
  height:100px;
  width:120px;
  margin: auto;
  display: -webkit-box;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  font-size:32px;
  font-family: arial;
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
    display: table;
    margin: auto;
  }