<!DOCTYPE html>
<html>

<head>
  <title>SousChef - Personalized Recipe Recommender</title>
  <link rel="stylesheet" href="/static/css/main.css">
  
</head>

<body>
  <div class="container">
    <h1>
      <center>SousChef - Personalized Recipe Recommender</center>
    </h1>

    <form action="/submit">
        <p>
            <label for="Ingredient #1">Ingredient #1
            </label><br>
            <input type="text" name="ing_1">
        </p>
        <p>
            <label for="Ingredient #2">Ingredient #2
            </label><br>
            <input type="text" name="ing_2">
        </p>
        <p>
            <label for="Ingredient #3">Ingredient #3
            </label><br>
            <input type="text" name="ing_3">
        </p>

        <p><button type="submit">Submit</button></p>
    </form>

  </div>
</body>

</html>